<div class="container">
  <div class="row center">


    <h2 *ngIf="!selectedServ">Selecione o serviço</h2>
    <select class="browser-default" (change)="mudou(valores.value)" *ngIf="!selectedServ" #valores>
      <option value="" disabled> Selecione um servico</option>
      <option *ngFor="let servico of servicos" [value]="servico.id">{{servico.nome}}</option>
    </select>


    <h2 *ngIf="selectedServ && !selectedProf">Selecione o funcionário</h2>
    <div class="col l4 s12" *ngFor="let profissional of profissionais">
      <div *ngIf="selectedServ && !selectedProf">
        <app-listar-prof [profissional]="profissional" (selecionado)="setProf($event)" *ngIf="!selectedProf"></app-listar-prof>
      </div>
    </div>


    <div class=" col l4 s6" *ngIf="selectedProf && !selectedDate">
      <input type="date" #calendario>
      <button (click)="selectData(calendario.value)">Selecionar data</button>
    </div>


    <div class=" col l4 s6" *ngIf="selectedDate && !selectedTime">
      <input type="time" #horario>
      <button (click)="selectTime(horario.value)">Selecionar data</button>
    </div>


  </div>

  <div *ngIf=" selectedTime">
    Funcionário selecionado:{{selectedProf.Nome | removeAT}}, irá realizar o serviço de:{{selectedServ.nome}}
    <br> no dia {{selectedDate | date}} às {{selectedTime}}

  </div>

</div>