.selecionado {
    color: red;
    background-color: red;
}

img {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
}

#serv {
    text-align: center;
    font-family: "'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

#div2Maior {
    background-color: rgb(199, 186, 190);
    width: 50%;
    position: relative;
    margin-left: 400px;
    border: 2px solid black;
    opacity: 0.7
}

#background {
    position: relative;
    background-image: url('../../assets/hairsfundo.jpg');
    height: 100%;
}

#backgroundCadaServ {
    background-color: rgb(211, 59, 231);
    width: 95%;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px
}