<div id="background">
    <div id="div2Maior">
        <div class="container">
            <h3 id="serv">Servicos</h3>
            <div class="row" *ngFor="let servico of servicos" id="backgroundCadaServ">

                <div class="col s5">
                    <img [src]="'./assets/ServicoP/' + servico.Img ">
                </div>
                <div class="col s7 valign-wrapper">
                    <div [routerLink]="['/servico', servico.id]" class="col s16">
                        <ul>
                            <li>
                                <b>Serviço:</b> {{servico.nome | titlecase}}</li>
                            <li>
                                <b>Duração:</b> {{servico.tempoM}} hora (s)</li>
                            <li>
                                <b>Preço:</b> {{servico.Preco | currency : 'BRL'}}</li>
                        </ul>
                        <div>
                            <button class="btn purple" style="margin-bottom:10px">Solicitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>