<!--The content below is only a placeholder and can be replaced.-->
<div style="background-image: url('../assets/fundosalao.jpg')">
<nav class ="#1a237e indigo darken-4" style="opacity:0.9" >
  <div class="nav-wrapper" back>
    <a href="#!" class="brand-logo"><img src="../assets/logosalao2.png" style="width:65px; margin-left:650px  " ></a>
    <ul  class="right hide-on-med-and-down">

      <li><a routerLink= "/sobre">Sobre </a></li>
      <li><a routerLink="/profissionais">Profissionais</a></li>
      <li><a routerLink="/agendamento">Agende</a></li>
      <li><a routerLink="/servicos">Servicos</a></li>
     
     
    </ul>
  </div>
</nav>
</div>

<router-outlet></router-outlet>
