<nav class="#1a237e indigo darken-4" style="opacity:0.9">
  <div class="nav-wrapper" back>
    <a href="#!" class="brand-logo">
      <img src="../assets/logosalao2.png" style="width:65px; margin-left:650px  ">
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/sobre">Sobre </a>
      </li>
      <li>
        <a routerLink="/profissionais">Profissionais</a>
      </li>
      <li>
        <a routerLink="/agendamento">Agende</a>
      </li>
      <li>
        <a routerLink="/servicos">Servicos</a>
      </li>
      <li>
        <a class="dropdown-button" materialize="dropdown" href="#!" data-activates="dropdown1">Administração
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
  <li class="divider"></li>
  <li>
    <a routerLink="/cadastroUser">Cadastrar Usuários</a>
  </li>
  <li class="divider"></li>
  <li>
    <a routerLink="/gerar">Gerar imagem</a>
  </li>
  <li class="divider"></li>
</ul>