<div class="container">
  <h1 class="flow-text center">Cadastro de usuários</h1>
  <h3 class="flow-text center">Escolha o tipo do cadastro</h3>
  <form [formGroup]="cadastroUsuario">
    <div class="row">
      <div class="col l4 s12">
        <select #tipo formControlName="tipo" style="border: 2px solid black" class="browser-default" (change)="abrirForm(tipo.value)">
          <option value=0 selected disabled>Escolha o tipo do cadastro</option>
          <option value=1>Cliente</option>
          <option value=2>Funcionário</option>
          <option value=3>Administrador</option>
        </select>
      </div>
    </div>
    <!-- [hidden]="escolha == 0" -->
    <div class="row" [hidden]="escolha == 0">
      <div class="col l6 s12">
        <label class="lead">Nome:</label>
        <span [hidden]="cadastroUsuario.controls['nome'].untouched || cadastroUsuario.controls['nome'].valid">
          <!-- <i class="material-icons erro">error</i> EXIBE O ICONE DE ERRO, MAS DANIFICA A ESTRUTURA DO FORMULÁRIO-->
          <label class="vermelho">* Campo obrigatório</label>
        </span>
        <input appCepDiretiva [class.erro]="cadastroUsuario.controls['nome'].invalid" [class.sucesso]="cadastroUsuario.controls['nome'].valid" type="text"
          formControlName="nome" placeholder="Seu nome">
      </div>

      <div class="col l6 s12">
        <label class="lead">Usuário:</label>
        <span [hidden]="cadastroUsuario.controls['usuario'].untouched || cadastroUsuario.controls['usuario'].valid">
          <label class="vermelho">* Campo obrigatório</label>
        </span>
        <span [hidden]="!usuarioIsValid">
          <label class="vermelho">* Usuário já existente</label>
        </span>

        <input class="form-control" type="text" formControlName="usuario" autocomplete="off" placeholder="Usuário" (change)="verificaUser(cadastroUsuario.value)"
          [class.erro]="cadastroUsuario.controls['usuario'].invalid" [class.erro]="!usuarioIsValid" [class.sucesso]="cadastroUsuario.controls['usuario'].valid">
      </div>
      <div class="col l6 s12">
        <label class="lead">CPF:</label>
        <span [hidden]="cadastroUsuario.controls['cpf'].untouched || cadastroUsuario.controls['cpf'].valid">
          <label class="vermelho">* Campo obrigatório, somente números.</label>
        </span>

        <input class="form-control" type="text" formControlName="cpf" autocomplete="off" placeholder="CPF" [class.erro]="cadastroUsuario.controls['cpf'].invalid"
          [class.sucesso]="cadastroUsuario.controls['cpf'].valid">
      </div>

      <div class="col l6 s12">
        <label class="lead">RG:</label>
        <span [hidden]="cadastroUsuario.controls['rg'].untouched || cadastroUsuario.controls['rg'].valid">
          <label class="vermelho">* Campo obrigatório, somente números.</label>
        </span>
        <input class="form-control" type="text" formControlName="rg" autocomplete="off" placeholder="RG" [class.erro]="cadastroUsuario.controls['rg'].invalid"
          [class.sucesso]="cadastroUsuario.controls['rg'].valid">
      </div>

      <div class="col l6 s12">
        <label class="lead">Idade:</label>
        <span [hidden]="cadastroUsuario.controls['idade'].untouched || cadastroUsuario.controls['idade'].valid">
          <label class="vermelho">* Somente números.</label>
        </span>
        <input class="form-control" type="text" formControlName="idade" autocomplete="off" placeholder="Idade" [class.erro]="cadastroUsuario.controls['idade'].invalid"
          [class.sucesso]="cadastroUsuario.controls['idade'].valid">
      </div>
      <!-- *ngIf="tipo.value == 2 || tipo.value == 3" -->
      <div class="row" *ngIf="tipo.value == 2 || tipo.value == 3">
          <div class="col l6 s12">
            <label class="lead">Serviços:</label>
            <select class="browser-default" style="border: 2px solid black" formControlName="servicos" [class.erro]="cadastroUsuario.controls['servicos'].invalid">
              <option selected disabled>Selecione o serviço</option>
              <option *ngFor="let s of cadastroServ.servicos" value="{{s.nome}}">{{s.nome | titlecase}}</option>
            </select>
          </div>
        </div>
      <div *ngIf="tipo.value == 2 || tipo.value == 3">
        <div class="col l4 s12">
          <label class="lead">Telefone:</label>
          <span [hidden]="cadastroUsuario.controls['telefone'].untouched || cadastroUsuario.controls['telefone'].valid">
            <label class="vermelho">* Campo obrigatório, somente números.</label>
          </span>
          <input class="form-control" type="text" formControlName="telefone" autocomplete="off" placeholder="Telefone" [class.erro]="cadastroUsuario.controls['telefone'].invalid"
            [class.sucesso]="cadastroUsuario.controls['telefone'].valid">
        </div>

        <div class="col l4 s12">
          <label class="lead">CEP:</label>
          <span [hidden]="cadastroUsuario.controls['cep'].untouched || cadastroUsuario.controls['cep'].valid">
            <label class="vermelho">* Campo obrigatório, somente números.</label>
          </span>
          <input class="form-control" type="text" formControlName="cep" autocomplete="off" placeholder="CEP" [class.erro]="cadastroUsuario.controls['cep'].invalid"
            [class.sucesso]="cadastroUsuario.controls['cep'].valid">
        </div>

        <div class="col l4 s12">
          <label class="lead">Número da casa</label>
          <span [hidden]="cadastroUsuario.controls['numeroCasa'].untouched || cadastroUsuario.controls['numeroCasa'].valid">
            <label class="vermelho">* Somente números.</label>
          </span>
          <input class="form-control" type="text" formControlName="numeroCasa" autocomplete="off" placeholder="Numéro da casa" [class.erro]="cadastroUsuario.controls['numeroCasa'].invalid"
            [class.sucesso]="cadastroUsuario.controls['numeroCasa'].valid">
        </div>

        <div class="col l4 s12">
          <label class="lead">Senha:</label>
          <span [hidden]="cadastroUsuario.controls['senha'].untouched || cadastroUsuario.controls['senha'].valid">
            <label class="vermelho">* Campo obrigatório.</label>
          </span>
          <input class="form-control" type="text" formControlName="senha" autocomplete="off" placeholder="Senha" [class.erro]="cadastroUsuario.controls['senha'].invalid"
            [class.sucesso]="cadastroUsuario.controls['senha'].valid">
        </div>
      </div>

      <div class="col l6 s12">
        <div class="file-field input-field">
          <div class="btn blue">
            <span>Imagem</span>
            <input type="file" class="form-control" autocomplete="off" placeholder="Selecione uma imagem" (change)="onChange($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col l6 s12 center" [hidden]="escolha == 0">
    <button class="btn blue" [disabled]="cadastroUsuario.invalid" (click)="addUser(cadastroUsuario.value)">Concluir cadastro</button>
  </div>
</div>