<div class="container">
  <h1  id="showSelect"  #showSelect>
    <span *ngIf="showSelected">{{letra.toUpperCase()}} profissional {{showSelected.Nome }} foi selecionad{{letra.toLowerCase()}} <hr></span> 
    <!-- | removeAT -->
  </h1>
  <div class="center">
    <h1 class="flow-text">Profissionais do nosso salão:</h1>
  </div>
  <div class="row center">
    <div class="blocoInf col l4 s12" *ngFor="let profissional of profissionais">
        <app-listar-prof [profissional]="profissional" (selecionado)="setName($event)"></app-listar-prof>
    </div>
  </div>

</div>