<div class="container">
  <p class="texto">
    Profissionais
  </p>
  <ul class="blocoInf" *ngFor="let profissional of profissionais">
    <li>
      <img [src]="profissional.Imagem+'.jpg'">
    </li>
    <li>
      <b> Nome:</b> {{profissional.Nome}} | Idade:{{profissional.Idade}}
    </li>
    <li>
      <b> CPF: </b> {{profissional.CPF}}
    </li>
    <li>
      <b>RG:</b> {{profissional.RG}}
    </li>
    <li>
      <b> CEP: </b>{{profissional.CEP}}
    </li>
    <li class="form">
      <b>Formações:</b>
      <div class="form">
        <span *ngFor="let formacao of profissional.Formacao">
          {{formacao}};
          <br>
        </span>
      </div>
    </li>
  </ul>

</div>