<div class="card" [style.background-color]="cor">

  <div class="card cor darken-3">


    <div class="card-image">

      <img class="activator" id="cardPic" [src]="profissional.imagem">
      <!-- <span class="activator" style="position: absolute; margin-top:-20px; color: rgb(170, 0, 23);">(informações)</span> -->
    </div>

    <div class="card-content" (click)="selecionar(profissional)">


      <span class="card-title activator waves-block ">

        <b> nome:</b>
        <span class="truncate">{{profissional.nome | removeAT}}
        </span>

        <b>idade: </b>{{profissional.idade}} </span>
      <span class="indcText">(Selecionar)</span>
    </div>

    <div class="card-reveal white-text cor darken-3 ">

      <div class="card-title activator">

        <br>
        <i class="material-icons right">close</i>
        <b> nome:</b>
        <span class="truncate">{{profissional.nome  }}
          <!-- | removeAT -->
        </span>
        <b>idade: </b>{{profissional.idade}} <br>
        <b> cpf: </b> {{profissional.cpf}}
        <br>
        <b>rg:</b> {{profissional.rg}}
        <br>
        <b> cep: </b>{{profissional.cep}}
        <br>

        <div class="form">
          <b>servicos:</b>
          <div class="form">
            <span *ngFor="let servico of profissional.servicos">
              {{servico}}
              <br>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <button style="color:black" (click)="selecionar(profissional)">Selecionar</button> -->
  </div>
</div>