.form {
    border: 1px dashed lightgray;
    float: left;
}

img {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
}

.container {
    border: 2px dashed lightgray;
}

.card {
    height: 300px;
    margin: 0 0 0 0;
}

.card-content {
    position: absolute;
    width: 100%;
}
.card .card-image{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.card .card-image .card-title {
    position: unset;
    padding: 0 0 0 0;
}