<div (mouseover)="Entrou()" (mouseout)="Saiu()" class="card" [style.background-color]="cor">

  <div class="card" [style.background-color]="cor">

    <div class="card-image waves-effect waves-block waves-light">

      <img class="activator" [src]="profissional.Imagem+'.jpg'">

    </div>

    <div class="card-content" [style.background-color]="cor">

      <span class="card-title  waves-block grey-text text-darken-4">

        <b> Nome:</b> {{profissional.Nome}}
        <br>
        <b>Idade: </b>{{profissional.Idade}} </span>

    </div>

    <div class="card-reveal text-darken-4" [style.background-color]="cor">

      <div class="card-title grey-text text-darken-4">

        <br>
        <i class="material-icons right">close</i>
        <b> CPF: </b> {{profissional.CPF}}
        <br>
        <b>RG:</b> {{profissional.RG}}
        <br>
        <b> CEP: </b>{{profissional.CEP}}
        <br>

        <div class="form">
          <b>Formações:</b>
          <div class="form">
            <span *ngFor="let formacao of profissional.Formacao">
              {{formacao}};
              <br>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>