<div class="center">
  <h4>Gere o código da imagem aqui:</h4>
  <form [formGroup]="formularioImagem">
    <div class="row">
      <div class="col s12 m4 l8">


        <input style="display: none" type="file" id="imagem" formControlname="caminhoImagem" (change)="onChange($event)" #image>
      </div>
    </div>
    <button class="btn blue" (click)="image.click()">Escolha a imagem</button>
    <button class="btn blue" (click)="enviar()">ENVIAR</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="col l6 offset-l3">
        <!-- {{leitorImg.result}} -->
        <textarea class="materialize-textarea" value="{{leitorImg.result}}"></textarea>
      </div>
    </div>
  </div>
</div>